.ui-icon {
    &.default {
        path {
            fill: var(--color-primary);
        }
    }

    &.dark {
        path {
            fill: var(--black);
        }
    }

    &.light {
        path {
            fill: var(--white);
        }
    }
}